# macOS
.DS_Store

# Xcode user settings
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Xcode build output
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Logs
*.log